<!DOCTYPE html>
<html lang="en" ng-app="menu">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="files/index/styles.css" type="text/css" rel="stylesheet"/>
        <script src="resources/scripts/jquery-1.7.1.min.js"></script>
        <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
        <script src="resources/scripts/axure/axQuery.js"></script>
        <script src="resources/scripts/axure/globals.js"></script>
        <script src="resources/scripts/axutils.js"></script>
        <script src="resources/scripts/axure/annotation.js"></script>
        <script src="resources/scripts/axure/axQuery.std.js"></script>
        <script src="resources/scripts/axure/doc.js"></script>
        <script src="data/document.js"></script>
        <script src="resources/scripts/messagecenter.js"></script>
        <script src="resources/scripts/axure/events.js"></script>
        <script src="resources/scripts/axure/recording.js"></script>
        <script src="resources/scripts/axure/action.js"></script>
        <script src="resources/scripts/axure/expr.js"></script>
        <script src="resources/scripts/axure/geometry.js"></script>
        <script src="resources/scripts/axure/flyout.js"></script>
        <script src="resources/scripts/axure/ie.js"></script>
        <script src="resources/scripts/axure/model.js"></script>
        <script src="resources/scripts/axure/repeater.js"></script>
        <script src="resources/scripts/axure/sto.js"></script>
        <script src="resources/scripts/axure/utils.temp.js"></script>
        <script src="resources/scripts/axure/variables.js"></script>
        <script src="resources/scripts/axure/drag.js"></script>
        <script src="resources/scripts/axure/move.js"></script>
        <script src="resources/scripts/axure/visibility.js"></script>
        <script src="resources/scripts/axure/style.js"></script>
        <script src="resources/scripts/axure/adaptive.js"></script>
        <script src="resources/scripts/axure/tree.js"></script>
        <script src="resources/scripts/axure/init.temp.js"></script>
        <script src="files/index/data.js"></script>
        <script src="resources/scripts/axure/legacy.js"></script>
        <script src="resources/scripts/axure/viewer.js"></script>
        <script src="resources/scripts/axure/math.js"></script>

        <script src="js/angular.js"></script>
        <script src="js/T_menu.js"></script>
        <style type="text/css">
            ul .focus {
                border: 1px solid black;
            }
        </style>
    </head>
    <body ng-controller="sctrl" style="background-color: transparent" >

        <!-- 2 (水平线) -->
        <div id="u2" class="ax_default line" data-label="2">
            <img id="u2_img" class="img " src="images/index/regen/2_u2.png"/>
            <!-- Unnamed () -->
            <div id="u3" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- 1 (垂直线) -->
        <div id="u4" class="ax_default line" data-label="1">
            <img id="u4_img" class="img " src="images/index/regen/1_u4.png"/>
            <!-- Unnamed () -->
            <div id="u5" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <div>
            <!-- left (热区) -->
            <div id="u8" class="ax_default" data-label="left" style="float:left">
                <ul>
                    <li ng-repeat="m in smenus">
                        <a href="{{m.url}}" class="first" target="f2" ng-click="li_click($index);" ng-class='{focus: $index === focus}'>{{m.menutext}}</a>
                    </li>
                </ul>
            </div>

            <!-- right (热区) -->

            <div id="u9" class="ax_default" style="float: right">
                <iframe id="f2" name="f2" height="720px" frameborder="0" style="overflow: auto; float: right; width: 1550px;" /
        </div>

</body>
</html>