<!DOCTYPE html>
<html ng-app="menu">
    <head>
        <title>index</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="data/styles.css" type="text/css" rel="stylesheet"/>
        <link href="files/index/styles.css" type="text/css" rel="stylesheet"/>
        <script src="resources/scripts/jquery-1.7.1.min.js"></script>
        <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
        <script src="resources/scripts/axure/axQuery.js"></script>
        <script src="resources/scripts/axure/globals.js"></script>
        <script src="resources/scripts/axutils.js"></script>
        <script src="resources/scripts/axure/annotation.js"></script>
        <script src="resources/scripts/axure/axQuery.std.js"></script>
        <script src="resources/scripts/axure/doc.js"></script>
        <script src="data/document.js"></script>
        <script src="resources/scripts/messagecenter.js"></script>
        <script src="resources/scripts/axure/events.js"></script>
        <script src="resources/scripts/axure/recording.js"></script>
        <script src="resources/scripts/axure/action.js"></script>
        <script src="resources/scripts/axure/expr.js"></script>
        <script src="resources/scripts/axure/geometry.js"></script>
        <script src="resources/scripts/axure/flyout.js"></script>
        <script src="resources/scripts/axure/ie.js"></script>
        <script src="resources/scripts/axure/model.js"></script>
        <script src="resources/scripts/axure/repeater.js"></script>
        <script src="resources/scripts/axure/sto.js"></script>
        <script src="resources/scripts/axure/utils.temp.js"></script>
        <script src="resources/scripts/axure/variables.js"></script>
        <script src="resources/scripts/axure/drag.js"></script>
        <script src="resources/scripts/axure/move.js"></script>
        <script src="resources/scripts/axure/visibility.js"></script>
        <script src="resources/scripts/axure/style.js"></script>
        <script src="resources/scripts/axure/adaptive.js"></script>
        <script src="resources/scripts/axure/tree.js"></script>
        <script src="resources/scripts/axure/init.temp.js"></script>
        <script src="files/index/data.js"></script>
        <script src="resources/scripts/axure/legacy.js"></script>
        <script src="resources/scripts/axure/viewer.js"></script>
        <script src="resources/scripts/axure/math.js"></script>

        <script src="js/angular.js"></script>
        <script src="js/T_menu.js"></script>
        <style type="text/css">
            ul .focus {
                border: 1px solid black;
                background-color: rgba(0,0,0,.05);
            }
        </style>
        <script>
            var w;
            function init() {
                var uid = window.localStorage.getItem("uid");
                w = new WebSocket("ws://localhost:8090/PeopleManagerSystem/echo/" + uid);

                w.onmessage = function (e) {
                    alert(e.data);
                };
            }

            function cccc() {
                var a1 = document.getElementById("t1").value;
                w.send(a1);
                document.getElementById("t1").value = "";
            }
        </script>
    </head>
    <body ng-controller="mctrl"  onload="init();">
        <div id="base" class="">

            <!-- text (矩形) -->
            <div id="u0" class="ax_default _一级标题" data-label="text">
                <div id="u0_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u1" class="text" style="visibility: visible;">
                    <p><span>人力资源系统</span></p>
                </div>
            </div>



            <!-- up (热区) -->
            <div id="u6" class="ax_default" data-label="up">
                <div>
                    文本框
                    <input type="text" id="t1"/>
                    <button onclick="cccc();">提交</button>
                </div>
                <ul>
                    <li ng-repeat="m in menus" style="float:left">
                        <a href="index2.html" class="first" target="f1" ng-click="setSid(m.id, $index);" ng-class='{focus: $index === focus}'>{{m.menutext}}</a>
                    </li>
                </ul>
            </div>

            <!-- down (热区) -->
            <div id="u7" class="ax_default" data-label="down">
                <iframe id="f1" name="f1"
                        width="100%" height="100%"
                        style="border: 0px"
                        llowTransparency="true"
                        overflow="hidden"
                        scrolling="no" <!--[if IE]allowtransparency="true"--> />
        </div>




    </div>
</body>
</html>
