<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Dept_addServlet</servlet-name>
        <servlet-class>servlet.deptServlet.Dept_addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dept_deleServlet</servlet-name>
        <servlet-class>servlet.deptServlet.Dept_deleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dept_listServlet</servlet-name>
        <servlet-class>servlet.deptServlet.Dept_listServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dept_updateServlet</servlet-name>
        <servlet-class>servlet.deptServlet.Dept_updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees_addServlet</servlet-name>
        <servlet-class>servlet.employeesServlet.Employees_addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees_deleServlet</servlet-name>
        <servlet-class>servlet.employeesServlet.Employees_deleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees_listServlet</servlet-name>
        <servlet-class>servlet.employeesServlet.Employees_listServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees_updateServlet</servlet-name>
        <servlet-class>servlet.employeesServlet.Employees_updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>servlet.adminServlet.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reg_Servlet</servlet-name>
        <servlet-class>servlet.adminServlet.Reg_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Servlet</servlet-name>
        <servlet-class>servlet.adminServlet.Update_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>List_Servlet</servlet-name>
        <servlet-class>servlet.adminServlet.List_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employees_TransferServlet</servlet-name>
        <servlet-class>servlet.employeesServlet.Employees_TransferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dept_addServlet</servlet-name>
        <url-pattern>/Dept_addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dept_deleServlet</servlet-name>
        <url-pattern>/Dept_deleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dept_listServlet</servlet-name>
        <url-pattern>/Dept_listServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dept_updateServlet</servlet-name>
        <url-pattern>/Dept_updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees_addServlet</servlet-name>
        <url-pattern>/Employees_addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees_deleServlet</servlet-name>
        <url-pattern>/Employees_deleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees_listServlet</servlet-name>
        <url-pattern>/Employees_listServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees_updateServlet</servlet-name>
        <url-pattern>/Employees_updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reg_Servlet</servlet-name>
        <url-pattern>/Reg_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Servlet</servlet-name>
        <url-pattern>/Update_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>List_Servlet</servlet-name>
        <url-pattern>/List_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employees_TransferServlet</servlet-name>
        <url-pattern>/Employees_TransferServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
