#check_css3 {
	margin: 20px auto;
}

#check_css3 span {
	position: relative;
}

#check_css3 .input_check {
	position: absolute;
	visibility: hidden;
}

#check_css3 .input_check+label {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #ffd900;
}

#check_css3 .input_check:checked+label:after {
	content: "";
	position: absolute;
	left: 2px;
	bottom: 12px;
	width: 9px;
	height: 4px;
	border: 2px solid #e92333;
	border-top-color: transparent;
	border-right-color: transparent;
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	transform: rotate(-45deg);
}

.tonghang{ display:inline}