body {background-color:#FFFFFF; background-image:none;padding:0;margin:0;}
#sitemain {position:relative; clear:both; width:760px; height:960px; background-color:transparent; font-size:10px;}
#emptybox2 {position:relative; float:left; clear:both; width:760px; height:114px; background-color:#FFFFFF; font-size:10px;}
#emptybox2 .lb {position:relative; float:left; background: url("images/dot1.gif") 0 100% repeat-x; width:100%;height:114px;}
#emptybox2 .lr {position:relative; float:left; background: url("images/dot1.gif") 100% 0 repeat-y; width:100%;height:114px;}
#emptybox2 .lt {position:relative; float:left; background: url("images/dot1.gif") 0 0 repeat-x; width:100%;}
#emptybox2 .ll {position:relative; float:left; background: url("images/dot1.gif") 0 0 repeat-y; width:100%;height:114px;}
#group {position:relative; float:left; clear:both; width:760px; height:591px; background-color:transparent; font-family:verdana,sans-serif; font-weight:bold; font-size:10px; z-index:90;}
#menu {position:relative; float:left; width:138px; height:591px; background:url("images/lrs1.gif") repeat-y; font-family:verdana,sans-serif; font-weight:bold; font-size:10px; z-index:90;}
#menu ul {margin:0; padding:5px 0 0; font-size:12px;}
#menu li {overflow:inherit; list-style-type:none; margin:0; padding:0; } 
#menu a {text-decoration:none; margin:0; padding:7px 10px 1px; display:block; height:20px; color:#000000;}
#menu a.first {margin:0; padding:7px 10px 1px; } 
#menu a:hover {color:#ADFF2F; background:#007800;}
#emptybox3 {position:relative; float:left; width:622px; height:591px; background-color:#FFFFFF; font-size:10px;}
#emptybox3 .lb {position:relative; float:left; background: url("images/dot1.gif") 0 100% repeat-x; width:100%;height:591px;}
#emptybox3 .lr {position:relative; float:left; background: url("images/dot1.gif") 100% 0 repeat-y; width:100%;height:591px;}
#emptybox3 .lt {position:relative; float:left; background: url("images/dot1.gif") 0 0 repeat-x; width:100%;}
#emptybox3 .ll {position:relative; float:left; background: url("images/dot1.gif") 0 0 repeat-y; width:100%;height:591px;}
