body {
  margin:0px;
  background-image:url('../../images/index/regen/bg.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1210px 1210px;
  position:static;
  left:auto;
  width:620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:60px;
}
#u1 {
  position:absolute;
  left:0px;
  top:250px;
  width:98px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u1_img.mouseDown {
}
#u1.mouseDown {
}
#u1_img.selected {
}
#u1.selected {
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
}
#u4 {
  position:absolute;
  left:110px;
  top:100px;
  width:150px;
  height:45px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_img.mouseDown {
}
#u4.mouseDown {
}
#u4_img.selected {
}
#u4.selected {
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u6 {
  position:absolute;
  left:120px;
  top:18px;
  width:500px;
  height:60px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std R', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
